{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{# search bar #}

{{form_start(form, {'attr': {'class': 'searchBar'}})}}

    {{form_widget(form.q)}}
    {{form_row(form.submit, {'attr': {'class': 'submit'}})}}

{{form_end(form)}}


{% if topics %}

    <section class="posts">

        {% for topic in topics %}
            
            <article>
                <div class="authorInfo">

                    {% if topic.user.avatar == null %}

                        <figure>
                            <img src="{{ asset('img/defaultProfilePicture.jpg') }}" alt="default profile picture">
                        </figure>

                    {% else %}

                        <figure>
                            <img src="{{ asset('uploads/' ~ topic.user.avatar) }}" alt="{{topic.user.username}} profile picture">
                        </figure>
                    {% endif %}

                    <a href="{{path('app_user', {'id': topic.user.id})}}">
                        <p>{{ topic.user.username }}</p>

                    </a>
                </div>

                <p>{{ topic.createdAt |date("m/d/Y") }} </p>

                <a href="{{path('detail_topic', {'id': topic.id})}}">

                    <p>{{ topic.title }} </p>
                </a>


            </article>
        {% endfor %}

    </section>

    {% else %}

        <h3>Sorry there is no topic with this name.</h3>

{% endif %}


{% endblock %}
