{% extends 'base.html.twig' %}

{% block title %}{{category.name}} {% endblock %}

{% block body %}

<section class="topic">

    <div class="categoryName">
        <h1>{{category.name}}</h1>
        <a href="{{path('new_topic', {'id': category.id})}}" class="fa-solid fa-plus"></a>
    </div>
    

    {% if category.topics %}
        
        {% for topic in category.topics |sort|reverse %}
            
            <div class="posts">
                
                <article>
                    <div class="authorInfo">
                        
                        {% if topic.user.avatar %}
                            
                            <figure>
                                <img src="{{asset('uploads/' ~ topic.user.avatar)}}" alt="avatar">
                                
                            </figure>
                        {% else %}

                            <figure>
                                <img src="{{asset('img/defaultProfilePicture.jpg')}}" alt="avatar">
                                
                            </figure>
                        {% endif %}
            
                        <a href="{{path('app_user', {'id': topic.user.id})}}">
                            <p>{{topic.user.username}}</p>
                            
                        </a>
                    </div>
            
                    <p>{{topic.createdAt |date("d/m/Y")}}</p>
            
                    <a href="{{path('detail_topic', {'id': topic.id})}}">
                        <p>{{topic.title}}</p>
                    </a>
            
                </article>
            
            </div>
                
        {% endfor %}

    {% else %}
    
        <h3>there is no topic for this section</h3>
    {% endif %}

</section>
{% endblock %}
