{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}

{% if topic %}
        
    <section class="posts">
        <article>

            <div class="topicHeader">

                <div class="authorInfo">

                    {% if topic.user.avatar == null %}

                        <figure>
                            <img src="{{asset('img/defaultProfilePicture.jpg')}}" alt="avatar">

                        </figure>
                    
                    {% else %}

                        <figure>
                            <img src="{{asset('uploads/' ~ topic.user.avatar)}}" alt="avatar">

                        </figure>
                    {% endif %}
                    

                    <a href="{{path('app_user', {'id': topic.user.id})}}">
                        <p>{{ topic.user.username}}</p>
                    </a>

                </div>

                {% if app.user == topic.user %}
                    
                    <a href="{{path('delete_topic', {'categoryId': topic.category.id, 'id': topic.id})}}">
                        <i class="fa-solid fa-trash" style="color: #b20101;"></i>
                    </a>

                    <a href="{{path('edit_topic', {'categoryId': topic.category.id, 'id': topic.id})}}"><i class="fa-solid fa-gear"></i></a>
                {% endif %}

            </div>

            <p>{{topic.createdAt |date("m/d/Y")}}</p>

            <a href="{{path('detail_topic', {'id': topic.id})}}">
                <p>{{topic.title}}</p>
            </a>


            {% include "like/_likeTemplate.html.twig" %}



        </article>

        <div class="messTitle">
            <h1>Messages</h1>

            {% if topic.islocked == false %}

                <a href="{{path('new_message', {'topicId': topic.id})}}" class="fa-solid fa-plus"></a>
            {% endif %}

        </div>

        {# todo: edit and delete messages #}
        {% if topic.messages %}
            
            {% for message in topic.messages |sort|reverse %}
                
                <div class="messages">

                    <div class="authorInfo">

                        <a href="{{path('app_user', {'id': message.user.id})}}">
                            <p>{{message.user.username}}</p>
                        </a>

                        <p>{{message.createdAt |date("d/m/Y")}}</p>

                    </div>

                    <p>{{message.text}}</p>

                </div>

            {% endfor %}

        {% else %}
            <h3>there no messages for this topic</h3>
        {% endif %}

    </section>

{% else %}
    <h3>The topic has successfuly been deleted</h3>
{% endif %}

{% endblock %}
