{% extends 'base.html.twig' %}

{% block title %}{{user.username}} {% endblock %}

{% block body %}

    <div class="profilIntro">
        <figure>
            <img src="{{asset('uploads/' ~ user.avatar)}}" alt="{{user.username}} profil picture">

            <figcaption>
                <h2>{{user.username}}</h2>

            </figcaption>
        </figure>
        

    </div>


    {% for topic in user.topics |sort|reverse %}
            
        <section class="posts">
            
            <article>
                <div class="authorInfo">
                    <figure>
                        <img src="{{asset('uploads/' ~ topic.user.avatar)}}" alt="{{topic.user.username}} avatar">
                        
                    </figure>

                    <a href="{{path('app_user', {'id': topic.user.id})}}">
                        <p>{{topic.user.username}}</p>
                        
                    </a>
                </div>

                <p>{{topic.createdAt |date("m/d/Y")}}</p>

                <a href="{{path('detail_topic', {'id': topic.id})}}">
                    <p>{{topic.title}}</p>
                </a>


            </article>

        </section>
    {% endfor %}

{% endblock %}
