{% extends 'base.html.twig' %}

{% block title %}{{app.user.username}} {% endblock %}

{% block body %}

<div class="profilIntro">
    <figure>
        {% if app.user.avatar %}
            <img src="{{ asset('uploads/' ~ app.user.avatar) }}" alt="{{app.user.username}} profil picture">
            
        {% else %}
            <img src="{{asset('img/defaultProfilePicture.jpg')}}" alt="{{app.user.username}} profil picture">
        {% endif %}

        <figcaption>
            <h2>{{app.user.username}} </h2>
            <a href="{{path('edit_profile')}}"><i class="fa-solid fa-gear"></i></a>
        </figcaption>
    </figure>

</div>

{% if app.user.topics %}
    
    {% for topic in topics %}
    
        <section class="posts">
            
            <article>
                <div class="authorInfo">
                    <figure>

                        {% if topic.user.avatar %}
                            
                            <img src="{{asset('uploads/' ~ topic.user.avatar)}}" alt="{{topic.user.username}} avatar">
                        
                        {% else %}

                            <img src="{{asset('img/defaultProfilePicture.jpg')}}" alt="{{topic.user.username}} avatar">
                        {% endif %}
                        
                    </figure>

                    <a href="{{path('app_user', {'id': topic.user.id})}}">
                        <p>{{topic.user.username}} </p>
                        
                    </a>
                </div>

                <p>{{topic.createdAt |date("m/d/Y")}}</p>

                <a href="{{path('detail_topic', {'id': topic.id})}}">
                    <p>{{topic.title}}</p>
                </a>


            </article>

        </section>
    
    {% endfor %}

{% else %}

    <h3>You currently have no topic</h3>
{% endif %}

{% endblock %}
